<footer>
<hr>  
<main>
 <p>
CST336 Internet Programming. 2020&copy; Bernard <br>
<strong>Disclaimer: </strong>The information in this webpage is fictitious. <br>
It is used for academic purposes only.
</p>
<footer/>
 </html>