<!DOCTYPE html>

<html>
<head>
<title>Information Technology Consulting Company </title>
<div id="header">
<main id="head">
<h1>Bernard Information Technology Training Company! </h1>
<p>Welcome to your favorite IT training company. This is the place where learning is costless!</p>

<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>