<%- include('partials/header.ejs') %>





<boby>
<hr>
<nav>
   <a href="index.html"><strong> Home </strong></a> 
   <a href="courses.html"> <strong> Courses</strong></a> 
   <a href="more.html"> <strong> Other Services provided</strong></a>
   <a href="reference.html"> <strong> Reference</strong></a>
   <a href="contact.html"> <strong> Request Info</strong></a>
</nav>
 <br>
<figure><img src="img/contact.png"></figure>
<div>
<br>
<p> Below is a list of contacts. Please select the person you want to contact.</p>
<p>
  President:<a href="mailto:webmaster@example.com">Jewell Christiansen</a>
</p>
<p>
  Chairwoman:<a href="mailto:webmaster@example.com">Olga Maggio</a>
</p>
<p>
  Head of Marketing:<a href="mailto:webmaster@example.com">Nicolette Jenkins</a>
</p>
<p>
  Head of Finance:<a href="mailto:webmaster@example.com">Clare Gibson</a>
</p>
 </main> 
   
<div id="content">
<!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScXblYUngZBV0FL05mlgV1AaVih2OEmMnMvV5vebiS1QtMbWw/viewform?embedded=true" width="640" height="943" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
-->
</div>
   
   
   
<%- include('partials/footer.ejs') %>