<%- include('partials/header.ejs') %>





<boby>
<hr>
<nav>
   <a href="index.html"><strong> Home </strong></a> 
   <a href="courses.html"> <strong> Courses</strong></a> 
   <a href="more.html"> <strong> Other Services provided</strong></a>
   <a href="reference.html"> <strong> Reference</strong></a>
   <a href="contact.html"> <strong> Request Info</strong></a>
</nav>
 <br>
<figure><img src="img/contact.png"></figure>
<div>
<br>
 </main> 
   
<div id="content">
<!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScXblYUngZBV0FL05mlgV1AaVih2OEmMnMvV5vebiS1QtMbWw/viewform?embedded=true" width="640" height="943" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
-->
</div>
   
   
   
