<%- include('partials/header.ejs') %>


<boby>
<hr>



 <br>
<figure><img src="img/course.png"></figure>
<div>
<br>
</main>   
 <hr>
<br>
<table class="container" style="width:100%">
  <tr>
    <th>Cisco Certified Network Associate (CCNA)</th>
    <th>Cisco Certified Network Associate (CCNA)</th> 
  </tr>
  <tr>
    <td>
    <li>Networking Concepts - Part One</li>
    <li>Networking Concepts - Part Two</li>
    <li>IP Addressing and Virtualization Concepts</li>
    <li>Switching Fundamentals - Part One</li>
    <li>Switching Fundamentals - Part Two</li>
    <li>Configuring VLANs - Part One : In progress</li>
    <li>Configuring VLANs - Part Two</li>
    <li>Static and Dynamic Routing Principles</li>
    <li>Configure OSPFv2</li>
    <li>FHRP Configuration and Verification</li> 
    </td>
    
    <td>
    <li>Penetration Testing Fundamentals</li>
    <li>Pen Testing Awareness: Results Management</li>
    <li>Security Measures: Implementing Security Controls</li>
    <li>Pen Testing: End-user Behavior</li>
    <li>Physical Penetration Testing</li>
    <li>Wi-Fi Penetration Testing</li>
    <li>Pen Testing: Advanced Pen Testing Techniques</li>
    <li>Static and Dynamic Routing Principles</li>
    <li>Final Exam: Penetration Tester</li>  
    </td>
    
    <tr>
    <th>Microsoft Office 365: Teams</th>
    <th>Pythonista</th> 
    </tr>
    <td>
      <li>Microsoft Teams: Getting to know the application</li>
      <li>Microsoft Teams: Using Teams & Channels</li>
      <li>Microsoft Teams: Communicating via the App</li>
      <li>Microsoft Teams: Formatting, Illustrating & Reacting to Communications</li>
      <li>Microsoft Teams: Creating, Finding & Organizing Files</li>
      <li>Microsoft Teams: Working with Apps, Tabs & Wiki</li>
      <li>Microsoft Teams: Making calls, Organizing contacts & Using voicemail</li>
      <li>Microsoft Teams: Creating, Joining & Managing Meeting</li>  
    </td>
    
    <td>
       <li>Debugging with PyCharm</li>
       <li>Working with Spreadsheet Data</li>
       <li>Visualizing Data</li>
       <li>Socket Communication</li>
       <li>Challenge - Singleton Design Pattern</li>
       <li>Challenge - Observer Design Pattern</li>
        <li>Challenge - Factory Design Pattern</li>
        <li>Challenge - Implementing Iterators</li>   
    </td>
</table>



<footer>
<hr>  
<main>
 <p>
CST336 Internet Programming. 2020&copy; Bernard <br>
<strong>Disclaimer: </strong>The information in this webpage is fictitious. <br>
It is used for academic purposes only.
</p>
<footer/>

    
</body>

</html>






