<%- include('partials/header.ejs') %>











<hr>
<nav>
   <a href="/"><strong> Home </strong></a> 
   <a href="/courses"> <strong> Courses</strong></a> 
   <a href="/more"> <strong> Other Services provided</strong></a>
   <a href="/reference"> <strong> Reference</strong></a>
   <a href="/contact"> <strong> Request Info</strong></a>
</nav>
  <br>

<figure><img src="img/training1.png"></figure>
<div>
</main>   
<hr>
   
  
   
   
   <p>Bernard is a free online IT training courses includes clear and simple lessons on how to develop software,
   manage computer networks, and maintain vital IT systems across computers and phones. In today's digital world, these pieces of 
   technology facilitate almost everything we do in our personal and professional lives.
   This means that IT professionals are some of the most valued employees today. By studying up, you can join their ranks.</p>
</nav>
<body>
  <h3>Below is a list of course categories provided. Please see our courses section for a complete list of courses.</h3>
  <li>CISCO CCNA</li>
  <li>SecOps Engineer Track 1</li>
  <li>Microsoft Office 365: Teams </li>
  <li>Pythonista</li>
  <li>More...</li>


<%- include('partials/footer.ejs') %>