<%- include('partials/header.ejs') %>


<boby>
<hr>
<p>
<nav>
   <a href="/"><strong> Home </strong></a> 
   <a href="/courses"> <strong> Courses</strong></a> 
   <a href="/more"> <strong> Other Services provided</strong></a>
   <a href="/reference"> <strong> Reference</strong></a>
   <a href="/contact"> <strong> Request Info</strong></a>
</nav>
</p>
<br>
<br>
<div class="container">
    
   <p> We also provide many different types of trainings that include photography training, 
    videography training, supply chains and data manipulation training through our third party partners!
    </p>
</div>
<br>
<div class="container">
 

<table class="container" style="width:100%">
  <tr>
    <th></th>
    <th>
        
    </th> 
  </tr>
  <tr>
    <td>
    <div class="col"><figure><img src="img/datamanipulation.png"></figure></div>
    <a href="https://www.datacamp.com/courses/topic:data_manipulation"> <strong> Data manipulation courses</strong></a>
     <br>Please note, this is an external site.
    </td>
    
    <td>
    <div class="col"><figure><img src="img/photography.png"></figure></div>
    <a href="https://www.nyip.edu/courses"> <strong> Photography courses</strong></a>
     <br>Please note, this is an external site.
    </td>
    
    <tr>
    <th>
        
    </th>
    <th>
        
        
    </th> 
    </tr>
    <td>
     <div class="col"><figure><img src="img/videography.png"></figure></div>
     
     <a href="https://www.lynda.com/Video-Production-tutorials/7980-0.html/"> <strong> Videography courses</strong></a>
     <br>Please note, this is an external site.
    </td>
    
    <td>
    <div class="col"><figure><img src="img/supplychain.png"></figure></div>
    <a href="https://www.coursera.org/courses?query=supply%20chain"> <strong> Supply chain courses</strong></a>
     <br>Please note, this is an external site.
    </td>
</table>









</body>
<footer>
<hr>  
<main>
 <p>
CST336 Internet Programming. 2020&copy; Bernard <br>
<strong>Disclaimer: </strong>The information in this webpage is fictitious. <br>
It is used for academic purposes only.
</p>
<footer/>
</html>