<%- include('partials/header.ejs') %>


<hr>



  <br>
<figure><img src="img/reference.png"></figure>
<div>
  <br>
 </main> 
  </br>
   <div class id="reference">
        <p><strong>Below is the list of references</strong></p>
       <p><a href="https://www.coursera.org/browse/information-technology"> <strong> Coursera</strong></a> </p>
       <p><a href="https://www.datacamp.com/courses/topic:data_manipulation"> <strong> Datacamp</strong></a> </p>
      <p> <a href="https://www.nyip.edu/courses"> <strong> NYI of Photography</strong></a>  </p>
      <p> <a href="https://www.lynda.com/Video-Production-tutorials/7980-0.html/"> <strong> Lynda Videography</strong></a> </p>
 </div>
 
<footer>
<hr>  
<main>
 <p>
CST336 Internet Programming. 2020&copy; Bernard <br>
<strong>Disclaimer: </strong>The information in this webpage is fictitious. <br>
It is used for academic purposes only.
</p>
<footer/>
    
</body>
   </html>